{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{template `description` .}}">
    <link rel="stylesheet" href="/s/css/main.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"
            integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
            crossorigin="anonymous"></script>
    <title>{{template "title" .}}</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      <a href="/papers">Papers</a>
      <a href="/projects">Projects</a>
      <a href="/rss.xml">RSS</a>
    </nav>
    hi world
    {{template "content" .}}
    <!-- <header>home page</header> -->
    <!-- <main>content goes here</main> -->
    <footer>the end</footer>
  </body>
</html>
{{end}}

{{define "title"}}{{end}}
{{define "description"}}{{end}}
{{define "content"}}{{end}}
