{{define "index"}}
    {{template "base" .}}
{{end}}

{{define "summary"}}research and hobbies of a computer engineer{{end}}

{{define "title"}}Home{{end}}

{{define "content"}}
<h2>News</h2>
<div>
  <dl class="org-dl">
    <dt>2024-07-03</dt><dd><a href="https://github.com/andrew">Andrew</a> <a href="https://github.com/andrew/nesbitt.io/commit/17cd6fa72cd94af3d753708b4a8bccc6a660ab73">merged</a> <a href="https://alexshroyer.com/posts/2024-07-01-FloatVer.html">FloatVer</a> into his <a href="https://nesbitt.io/2024/06/24/from-zerover-to-semver-a-comprehensive-list-of-versioning-schemes-in-open-source.html#floatver">list of versioning schemes</a></dd>
    <dt>2024-03-06</dt><dd>Tensorflow merged my <a href="https://github.com/tensorflow/text/pull/1229">contribution</a></dd>
    <dt>2024-02-09</dt><dd>Started a new <a href="https://github.com/hoosierEE/element">project</a> (writing an interpreter for a K-like language)</dd>
    <dt>2023-12-15</dt><dd>PhD complete! 🎉</dd>
    <dt>2023-11-26</dt><dd>PyTorch merged my <a href="https://github.com/pytorch/examples/pull/1198">contribution</a></dd>
    <dt>2023-10-23</dt><dd>Add RSS feed by request (Hi Joseph!)</dd>
    <dt>2023-09-08</dt><dd>Won Best Presentation award at <a href="https://saiconference.com/Conferences/IntelliSys2023">IntelliSys2023</a></dd>
    <dt>2023-07-08</dt><dd>Talked about array languages with Richard Feldman on the <a href="https://podcasts.apple.com/us/podcast/thinking-in-array-languages-with-alex-shroyer/id1602572955?i=1000619306747">Software Unscripted</a> podcast</dd>
  </dl>
</div>
<h2>Research</h2>
<p>
  I use deep learning to expose hidden secrets of obfuscated binary programs.
  Sometimes this means secret malware, so better detection means better protection against attackers.
  Other times, obfuscation is your competitor hiding stolen code or buggy versions you thought you patched ages ago.
  The faster we can find vulnerabilities in low-level binary code, the more trustworthy hardware and software supply chains become, which in turn means more secure and reliable software for millions of users.
</p>


{{if .Thumbs}}
<h2 class="recent">Recent</h2>
<div class="cards">
  {{range .Thumbs}}
  <a href="/posts/{{.Link}}">
    <div class="post">
      <h3 class="title">{{.Title}}</h3>
      <div class="body">{{.Summary}}</div>
    </div>
  </a>
  {{end}}
</div>
{{else}}
<p>404 not found</p>
{{end}}

<h2>About Me</h2>
<div class="about-section">
  <image class="pfp" src="/s/images/pfp.jpeg">
    <div>
      <p>
        I appreciate elegant/subtle/clever design in software and the real world.
        Some of my favorite things to do include hiking with my family, cycling in nature, woodworking with hand tools, going on road trips, and solving puzzles.
      </p>

      <p>
        As a systems engineer at Indiana University I build tools for embedded systems security, manage SaaS installations, and maintain high performance clusters.
        I enjoy learning new programming languages and reading obscure mechanical patents.
      </p>

      <p>
        Email: contact@&lt;this page's url&gt;.
      </p>
    </div>
</div>
</main>

<footer>
  <div class="license-container">
    <div class="license-item">Designed in 2024 by <a href="https://alexshroyer.com">Alex Shroyer</a></div>
    <div class="license-item"><a href="https://www.gnu.org/licenses/gpl-3.0.html">GNU GPLv3</a> (code)</div>
    <div class="license-item"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a> (prose)</div>
  </div>
  <div class="social">
    <a href="https://stackoverflow.com/users/2037637/alex-shroyer"><svg aria-hidden="true" class="svg-icon iconLogoGlyphMd native" width="32" height="37" viewBox="0 0 32 37"><path d="M26 33v-9h4v13H0V24h4v9h22z"></path><path d="m21.5 0-2.7 2 9.9 13.3 2.7-2L21.5 0zM26 18.4 13.3 7.8l2.1-2.5 12.7 10.6-2.1 2.5zM9.1 15.2l15 7 1.4-3-15-7-1.4 3zm14 10.79.68-2.95-16.1-3.35L7 23l16.1 2.99zM23 30H7v-3h16v3z"></path></svg></a>
    <a href="https://github.com/hoosieree"><svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></a>
    <a href="https://www.linkedin.com/in/alexander-shroyer-82634580/"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 34 34" class="global-nav__logo">
        <g><path d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z" ></path></g></svg></a>
  </div>
</footer>
</body>
</html>
{{end}}
