{{define "post"}}
{{template "base" .}}
{{end}}

{{define "summary"}}{{.Summary}}{{end}}

{{define "title"}}{{.Title}}{{end}}

{{define "content"}}
<article>
  <h1>{{.Title}}</h1>
  <blockquote>{{.Summary}}</blockquote>
  {{.Content}}
  {{template "comments" .}}
</article>
{{end}}

{{block "comments" .}}
<div id="comments">{{range .Comments}}{{template "comment" .}}{{end}}</div>
{{template "form" .}}
{{end}}

{{block "form" .}}
{{if .Profile}}
<div hx-swap-oob="true" id="addComment">
  <form hx-post="/posts/{{.Link}}/comment" hx-swap="outerHTML">
    <textarea name="comment" rows="8" wrap="virtual" placeholder="write a comment..."></textarea>
    <input type="submit" value="add comment">
  </form>
</div>
{{else}}
<div id="addComment" href="#" hx-swap-oob="true" hx-target="#login-target" hx-get="/profile">
  <input type="submit" value="add comment"></input>
</div>
{{end}}
{{end}}

{{block "comment" .}}
<div class="comment">
  <div class="metadata"><span class="user">{{.Username}}</span> <span class="when">{{.When}}</span></div>
  <div class="commentary">{{.Content}}</div>
</div>
{{end}}

{{block "oob-comment" .}}
<div hx-swap-oob="beforeend:#comments">
  <div class="comment">
    <div class="metadata"><span class="user">{{.Username}}</span> <span class="when">{{.When}}</span></div>
    <div class="commentary">{{.Content}}</div>
  </div>
</div>
{{end}}
