{{define "title"}}{{.Title}}{{end}}
{{define "description"}}{{.Summary}}{{end}}
{{define "content"}}
<header></header>
<main>
  <article>
    {{.Content}}
    {{template "comments" .}}
  </article>
</main>
{{end}}

{{block "comments" .}}
<hr/>
<div id="comments">{{range .Comments}}{{template "comment" .}}{{end}}</div>
<div id="addComment">
  <form hx-post="/posts/{{.Link}}/comments" hx-target="#comments" hx-swap="beforeend">
    <textarea name="comment" rows="8" wrap="virtual" placeholder="write a comment..." ></textarea>
    <br/>
    <input type="submit" value="add comment">
  </form>
</div>
{{end}}

{{block "comment" .}}
<div class="comment">
  <div class="metadata"><span class="user">{{.Username}}</span> <span class="when">{{.When}}</span></div>
  <div class="commentary">{{.Content}}</div>
</div>
{{end}}
