{{define "posts"}}
{{template "base" .}}
{{end}}

{{define "summary"}}{{.Summary}}{{end}}

{{define "title"}}{{.Title}}{{end}}

{{block "content" .}}
<h1>{{.Summary}}</h1>
<div class="cards">
  {{range .Thumbs}}
  <a href="/posts/{{.Link}}" aria-label="{{.Title}}">
    <div class="card">
      <h3 class="title">{{.Title}}</h3>
      <div class="body">
        {{if lt 100 ( len .Summary )}}
        {{printf "%.100s" .Summary -}}...
        {{else}}{{.Summary}}
        {{end}}
      </div>
      <div class="date">{{.Date}}</div>
    </div>
  </a>
  {{end}}
</div>
{{end}}
