:root{
    --bgcolor:#fff7ea;
    --fgcolor:#000;
    --fgrgb:0,0,0;
    --accent0:0,119,153;
    --accent1:#eee7da;
    --accent2:#058;
    --td-gray:gray;
    --maxwid:48em;
    --white:floralwhite;
}
@media(prefers-color-scheme:dark){
    :root{
        --fgcolor:#fff7ea;
        --fgrgb:255,247,234;
        --bgcolor:#448;
        --accent0:0,34,85;
        --accent1:#66a;
        --accent2:#024;
    }
    img[src$=".svg"]{filter:invert(.8);}
}

#addComment{padding:1em 0;}
#login-container{display:flex;position:fixed;width:100vw;height:100vh;background:#222a;backdrop-filter:blur(1px);}
.about-section{display:flex;align-items:center;gap:1em;}
.card,.login-content{border-radius:3px;}
.cards{display:flex;gap:0.5em;}
.card{flex:1;box-shadow:0 1px 2px 0 #0005;max-width:14em;padding:1em;}
.comment:nth-child(odd){background:var(--accent1);}
.comment{padding:5px 0;}
.error{color:red}
.login-content h3{text-align:center}
.login-content{
    background:var(--bgcolor);
    height:15em;
    width:20em;
    margin:auto;
    padding:3em;
    box-shadow:0 5px 5px 0 #0005;
}
.login-form-container{max-width:10em;margin:2em auto;}
.metadata,textarea::placeholder,input::placeholder{color:rgb(var(--fgrgb), 0.4);}
.person-icon{vertical-align:text-top;}
.person-icon svg{display:inline;height:1.2em;width:1.2em;fill:var(--white);border:1px solid var(--white);border-radius:50%;}
.pfp{width:9em;height:8.5em;border-radius:50%;}
.video-container{position:relative;width:100%;max-width:var(--maxwid);}
.video-container::before{content:"";display:block;padding-top:56.25%;}
.video-container iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.close-button{
    box-shadow: 0 0 1px var(--fgcolor);
    display: flex;
    width: 1.5em;
    height: 1.5em;
    align-items: center;
}

a{color:var(--fgcolor);}
body>footer{position:sticky;top:100vh;}
body{background:var(--bgcolor);color:var(--fgcolor);font-family:system-ui;height:100%;margin:0;min-height:100vh;}
footer svg{fill:var(--white);}
footer{background-color:var(--accent2);font-size:smaller;margin:0;padding:2em;text-align:center;z-index:-1;}
form textarea{width:100%;}
form{display:flex;gap:0.25em;flex-direction:column;align-items:flex-start;}
h1,h2,h3,h4{font-weight:99}
header{background:rgb(var(--accent0));}
main{margin:auto;padding:0 1em;max-width:var(--maxwid);}
nav a,a.close-button{text-decoration:none;}
nav a,footer,footer a{color:var(--white);}
nav a:hover{text-decoration:underline;}
nav{margin:auto;padding:1em;max-width:var(--maxwid);display:flex; justify-content:space-between;}
svg{fill:var(--fgcolor);}
textarea,input,.close-button{background:var(--accent1);color:var(--fgcolor);}
