#addComment {padding: 1em 0;}
#comments .comment:nth-child(odd){background-color: #ded;}
.cards {display: flex; gap:0.5em;}
.comment {padding: 5px 0;}
.metadata {opacity: 70%}
.post {flex: 1; box-shadow: 0 1px 2px 0 #0005; max-width: 14em; padding: 1em;}
body {background-color: #efe; margin: 0 auto; padding: 0.5em; max-width: 55em; font-family: system-ui;}
form textarea {width: 100%;}
form {display: flex; flex-direction: column; align-items: flex-start;}
main > * {padding: 0.5em 0;}
main header h1 {font-size: 4em; font-family: system-ui;}
main header p {font-style: italic;}
nav {display:flex; justify-content:space-between;padding: 1em 0; border-bottom:1px solid #000;}
nav a {text-decoration:none;}
nav a:hover {text-decoration:underline;}
